
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 body , footer {
  overflow-x: hidden;
  
}

header{
  
    background-image: url(fotobcgr.jpg) ;
    height: 100vh;
    width: 100%;
    background-size: cover;
  
}

header #h2-header , #p-brenda-h2-header{
  margin-top: 140px;
  padding-right: 20px;
  color: #434952;
  text-align: right;
}

header #h2-header{
  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 30px;
}

header #p-brenda-h2-header{
  font-size: 20px;
  margin-top: 0px;
}
.menu{
  padding: 10px  ;
 
}

nav {
  left:0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  background-color: #9dc19d;
  opacity: 0.9;
  
}

.logo{
  width: 710px;
  color: #7190a7;
}

.logo :hover{
  color: #c3c3c3;
  transition-duration: 0.3s;
}
.logo1{
  margin: 5px 5px;
}



nav  ul li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 20px;
}
nav ul li a{
  color: #7190a7;
  text-decoration: none;
  position: relative;
  
}

nav ul li a::after{
  content: '';
  width: 0;
  left: 0;
  height: 3px;
  background: #7190a7;
  position: absolute;
  transition-duration: 0.3s;
  bottom: -5px;

}
nav ul li a:hover::after{
  width: 100%;
}



body{
 
  padding:2em;
  background: #c3c3c3;
  margin: 0px ;
  padding: 0px;
  height:100%;
  overflow:scroll;
  font-family:  Helvetica, sans-serif;
}

body p{
    font-size: 1.1em;
    line-height: 27px;

}



#p1{
  display: flex;
  justify-content: center;
}
 



section{
  width: 80%;
  margin: 80px auto;
}
.titulli{
   text-align: center;
   font-size: 22px;
   color: #7190a7;
   margin: 30px auto;
   text-decoration: underline solid #575f6b;
   background-color: #f6f6f6;
   width: 600px;
   padding: 3px;

}
 
.flex-box{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  

}

.flex-box .kolonat{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-box .kolonat img{
  width:80%;
  border-radius: 20px;
}
.evente{
  margin-top: 3%;
}


.kolonat{
  display: flex;
  align-items: space-around;
  background-color: #a895b4;
  border-radius: 20px;
  height: 510px;
  padding: 15px;
  padding-top: 20px;
}

h4{
  font-size: 20px;
  color: #f6f6f6;
  margin: 20px auto;
}

.evente p{
  color: #f6f6f6e8;
  padding: 0px 30px;
  font-size: medium;
}



.buttons-flex-box {
  background-color: #7190a7;
  border: 3px solid transparent;
  color: #575f6b;
  font-weight: bold;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 35px;
}

.buttons-flex-box:hover {
  background-color: #8bb0cc ;
  border-color:  #7190a7;
}


.video1{
  position: relative;
}

.text-1{
  position: absolute;
  top: 15%;
  left: 16%;
  z-index: 2;
  padding: 10px;
  text-align: center;
  color: #f6f6f6;

}
.text-2{
  position: absolute;
  top: 40%;
  left: 16%;
  z-index: 2;
  padding: 10px;
  text-align: center;
  color: #f6f6f6;


}
.text-3{
  position: absolute;
  top: 70%;
  left: 18%;
  z-index: 2;
  padding: 10px;
  text-align: center;
  color: #f6f6f6;


}

.text-1 #p1{
   display:flex;
  color: #f6f6f6;
   justify-content: space-evenly;
   padding: 10px;
   
  }
  
  .text-2 #p2{
    display:flex;
   
    justify-content: space-evenly;
    padding: 10px;
    color: #f6f6f6;
    
   }

  .text-3 #p3{
    display:flex;
    justify-content: space-evenly;
    padding: 10px;
    color: #f6f6f6;
    
   }


  .video1 #bcgr-vid{
     display: block;
     width: 100%;
    height:  700px  ;
    z-index: -1; 
    opacity: 0.8;
    position: relative;
    object-fit: cover;
  }
 footer{
  display: flex;
  justify-content: space-between;
  background-color:  #5e778a;
  flex-direction: column;
  align-items: center;
  color: rgb(199, 148, 202);
  height: 240px;
  padding: 20px;
}

.f{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  width: 70%;
  color: #434952;
  font-weight: bold;

}

.ff{
  display: flex;
  justify-content: space-between;
  width: 15%;
  height: 10%;

}

.ff img{
  height: 30px;
  width: 30px;

}

.footermain{
  display: flex;
  width: 70%;
  justify-content: space-between;
}


.footerleft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  font-size: 15px;
  color: #c3c3c3;
  
}

.footercenter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  color: #c3c3c3;
  
}

.footerright{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10%;
  width: 150px;
  font-size: 15px;
  color: #c3c3c3;
}


.fundi{
  display: flex;
  justify-content: space-between;
  width: 900px;
  color: #a895b4"
}