*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body, html{
    overflow-x: hidden;
}

.video{
    overflow: hidden;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#background_video{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    object-fit: cover;
}

.menu{
    padding: 10px  ;
   
}

nav {
    left:0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    background-color: #c3c3c3;
    opacity: 0.9;
    
}

.logo1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

img{
    margin-left: 25px;
}

.logo{
    width: 710px;
    color: #333;
    margin-left: 25px;
}
  
.logo :hover{
    color: #333;
    transition-duration: 0.3s;
}

nav  ul li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #333;
    text-decoration: none;
    position: relative;
    
}
  
nav ul li a::after{
    content: '';
    width: 0;
    left: 0;
    height: 3px;
    background: #333;
    position: absolute;
    transition-duration: 0.3s;
    bottom: -5px;  
}

nav ul li a:hover::after{
    width: 100%;
}



form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: 50%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.8);
}

.loginForm{
    text-align: center;
}

.loginForm h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.login :hover{
    transition-duration: 0.3s;
    color: black;
    background-color: white;
}

label{
    color: #555;
    display: block;
    margin-bottom: 8px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button{
    text-align: center;
}

.login{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login :hover{
    background-color: #555;
}

.loginForm p{
    color: #555;
    margin-top: 15px;
}

a{
    text-decoration: underline;
    color: #333;
}

@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu_icon{
        display: none;
    }

    .icons #close_icon{
        display: none;
    }

    #check:checked~.icons #close_icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
    }

    form{
        width: 80%;
        margin: 50px auto;
    }
}

footer{
    
    background-color: #555;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
    transition: opacity 0.3s ease;
}

.links{
    margin: 30px 0;
    text-decoration: none;
}

.links ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.links ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.links ul li a :hover{
    opacity: 1;
}

.footer_bottom{
    padding: 20px;
    text-align: center;
}

.footer_bottom p{
    color: white;

}

@media (max-width: 700px){
    .links ul{
        flex-direction: column;
    }

    .links ul li a{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

.media_icons img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.media_icons{
    justify-content: center;
    display: flex;
}

.media_icons a{
    margin: 10px;
    border-radius: 50%;
}

.content{
    width: 100%;
    padding: 70px 30px 20px;
}

footer{
    display: none;
}