*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #c3c3c3;
}

header #h2_header{
    margin-top: 100px;
    height: 15vh;
    text-align: center;
    font-size: 30px;
    padding-bottom: 60px;
}

header #h2_header, #p_header{
    text-align: center;
}

header #p_header{
    font-size: 20px;
}

nav {
    left:0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    background-color: #7190a7;
    opacity: 0.9;
    
}

.logo1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

img{
    margin-left: 25px;
}

.logo{
    width: 710px;
    color: #333;
    margin-left: 25px;
}
  
.logo :hover{
    color: #333;
    transition-duration: 0.3s;
}

nav  ul li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #333;
    text-decoration: none;
    position: relative;
    
}
  
nav ul li a::after{
    content: '';
    width: 0;
    left: 0;
    height: 3px;
    background: #333;
    position: absolute;
    transition-duration: 0.3s;
    bottom: -5px;  
}

nav ul li a:hover::after{
    width: 100%;
}

@media (max-width: 768px){
    form{
        width: 80%;
        margin: 50px auto;
    }
}

#container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.yogaClass{
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    background-color: #7190a7;
}

.yogaClass img{
    max-width: 100%;
    height: auto;
    margin: 15px;
}

.yogaClass :hover{
    transform: scale(1.05);
}

.imageClass{
    height: 150px;
    margin: 15px;
    object-fit: cover;
}

.details{
    padding: 15px;
}

h2, p{
    margin: 0;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color:  #5e778a;
    flex-direction: column;
    align-items: center;
    color: rgb(199, 148, 202);
    height: 240px;
    padding: 20px;
}
  
.f{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    width: 70%;
    color: #434952;
    font-weight: bold;
  
}
  
.ff{
    display: flex;
    justify-content: space-between;
    width: 15%;
    height: 10%;
  
}
  
.ff img{
    height: 30px;
    width: 30px;
  
}
  
.footermain{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
  
  
.footerleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    font-size: 15px;
    color: #c3c3c3;
}
  
.footercenter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    color: #c3c3c3;
}
  
.footerright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10%;
    width: 150px;
    font-size: 15px;
    color: #c3c3c3;
}
  
  
.fundi{
    display: flex;
    justify-content: space-between;
    width: 900px;
    color: #a895b4;
}