*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightblue;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2rem;
    color:#333;
    text-decoration: none;
    margin-left: 5px;
}

.navbar a{
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px){
    .header{
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu_icon{
        display: none;
    }

    .icons #close_icon{
        display: none;
    }

    #check:checked~.icons #close_icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
    }

    form{
        width: 80%;
        margin: 50px auto;
    }
}

#container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.yogaClass{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
}

.yogaClass :hover{
    transform: scale(1.05);
}

.imageClass{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.details{
    padding: 15px;
}

h2, p{
    margin: 0;
}

footer{
    text-align: center;
    background-color: #555;
    color: white;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: none;
}